<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AIS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
           <%= link_to "Students", students_path, class:"nav-link active" %>
        </li>
        <li class="nav-item">
         <%= link_to "Add New student", new_student_path, class:"nav-link" %>
        </li>
        <li class="nav-item flex-me">
         <%= link_to "Import Students", bulk_create_path, class:"nav-link" %>
        </li>

      </ul>
      <span class="navbar-text">
         <% if current_user.email %>
            <%= current_user.email %>
        <%end %>
        
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"none"%>
      </span>
    </div>
  </div>
</nav> 