<%= render "auth/header"%>
<div class="p-2">
  <p style="color: green"><%= notice %></p>

  <% if @students.empty? %>
    <center>
    <h1>No item found</h1>
    <center>

    <% else %>
    <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered mt-4">
            <thead  class="table-dark">
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>Student ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Date Enrolled</th>
                <th>Class</th>
                <th>DOB</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <% @students.each.with_index do |student, index| %>
                <tr>
                <td scope="row"><%= index+1 %></th>
                <td>
                    <% if student.image.attached? %>
                        <%= image_tag (student.image), class: "size-img-table"%>
                    <%end %>
                </td>
                <td> <%= student.ref_number %></td>
                <td>
                  <%= link_to student.first_name + " "+student.surname , student %>
                </td>
                
                <td> <%= student.email %></td>
                <td> <%= student.enrolled_at %></td>
                <td> <%= student.grade %></td>
                <td><%= student.dob %></td>
                <td><%= student.contact %></td>
                <td><%= student.address %></td>
                <td>
                  <%= link_to "Edit", edit_student_path(student),class:"btn primary", style:"color:white"%> 
                </td>
                
              </tr>
              <% end %>

            </tbody>
          </table>
          </div>
  <% end %>






</div>

